<div class="header">
    <ul class="nav nav-pills pull-right">
      <li><a ng-href="#">Home</a></li>
      <li class="active"><a ng-href="#/about">About</a></li>
      <li><a ng-href="#">Contact</a></li>
    </ul>
    <h3 class="text-muted">Scripture Search</h3>
</div>
<p>Wouldn't it be wonderful we had easy access to the timeless scriptures of humanity?
A lot of confusion and misunderstanding is spread by not having direct access to a culture's deepest scriptures.
The vision behind Scripture Search is to bring the benefits of the information technology revolution to ancient scriptures.<p/>
Just imagine, someday you could type the phrase "non-violence" and directly find what major world scriptures have to say on that topic.</p>
Inspired? Join this project on <a href="https://github.com/behappyrightnow/scripture-search/">Github</a>.
